<h1>mmars3 indexpage</h1>

<table>
  <tr>
      <td>name</td>
      <td><input id="name" name="name" size="20" type="text" value="someone"/></td>
  </tr>
  <tr>
      <td>date</td>
      <td><input id="date" name="date" size="30" type="date" value="2020-04-01"/></td>
  </tr>
  <tr>
      <td>ent</td>
      <td><input id="ent" name="ent" size="20" type="text" value="tokyo"/></td>
  </tr>
  <tr>
      <td>ext</td>
      <td><input id="ext" name="ext" size="20" type="text" value="fukuoka"/></td>
  </tr>
</table>

<%= button_to "予約", :action => "reserve" %>




